/* */

body {
    background-color: rgb(209, 232, 239);
  }
  
  h1 {
    color: rgb(0, 128, 68);
    margin-left: 10px;
    margin-right: 20in;
    margin-top: 10px;
    margin-bottom: 10px
  }

  h2 {
    color: blue;
    margin: 100px 10px 20px 30px;
  }

  h3 {
    color: #e90482;
    margin: auto;
  }


  section {
    color: hsl(0, 5%, 4%);
    padding-left: 40px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 12px;
  }
  
  /*here i use the short padding*/
  p {
    color: color(display-p3 1 1 0);
    padding: 10px 10px 20px 30px;

  }

  label{
    color: color-mix(in srgb, #b0e1ec 50%, rgb(79, 3, 3));
    margin-left: 20px;
  }
  :root {
    --main-bg-color: rgb(239, 168, 168);
  }
  /*combined to tasks together from the lab*/
  details {
    background-color: var(--main-bg-color);
  }
  /*here i used the variable with the fallback*/
  details {
    background-color: var(--main-bg-color, rgb(97, 105, 45));
  }


   /* units of measurement for sizing and spacing your elements */
   /*Use 3 unique relative units total */
  h1 {
    font-size: 1.5em;
  }
  
  p {
    width: 50vw;
  }
  
  section {
    width: 20rem;
  }

  /**Use 3 unique absolute units total */

  footer {
    width: 2in;
  }

  h2{
    width: 1cm;
  }

  h3{
    font-size: 25px;
  }
  
  
