/* */

@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
body {
    background-color: rgb(209, 232, 239);
  }
  
  h1 {
    /*using sidpplay inline*/
    display:inline;
    margin-left: 10px;
    margin-right: 200in;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(10, 139, 186);
    border-width: 10px;
    color: rgb(246, 71, 182);
    font-family: 'Courier New', Courier, monospace;
    
  }
  

  h2 {
    color: blue;
    display: inline;
    /*thelast display is the one performed, so it will block the inline*/
    display: inline-block;
    text-decoration: underline;
    text-align: start;
    margin: 100px 10px 20px 30px;
    height: 1in;
    width: 1in;
    position: static;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

  }
  /*Pseudo-class Selector*/
  button:hover {
    color: rgb(215, 2, 2);
  }

  h2:active{
    color: pink;
  }
  

  h3{
    display: grid;
    grid-area: span;
    grid-template-columns: min-content;
    
  }

  @media (max-width: 1250px) {
    /* … */
    section{
        font-size: medium;
        
    }
  }
  



  h3 {

    color: #e90482;
    margin: auto;
    max-width: 100in;
    max-height: 10cm;
    position: relative;


  }


  section {

    color: hsl(0, 5%, 4%);
    padding-left: 40px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 12px;
  }
  
  /*here i use the short padding*/
  p {
    color: color(display-p3 1 0 0);
    padding: 10px 10px 20px 30px;

  }

  label{
    color: color-mix(in srgb, blue 40%, rgb(220, 109, 109) 10);
    margin-left: 20px;
  }
  :root {
    --main-bg-color: rgb(239, 168, 168);
  }
  /*combined to tasks together from the lab*/
  details {
    background-color: var(--main-bg-color);
  }
  /*here i used the variable with the fallback*/
  details {
    background-color: var(--main-bg-color, rgb(97, 105, 45));
  }


   /* units of measurement for sizing and spacing your elements */
   /*Use 3 unique relative units total */
  h1 {
    font-size: 1.5em;
  }
  
  p {
    width: 50vw;
  }
  
  section {
    width: 20rem;
  }

  /**Use 3 unique absolute units total */

  footer {
    width: 2in;
  }
  /*Element Selector*/
  h2{
    width: 1cm;
  }
 
  h3{
    font-size: 25px;
  }



  /*class selector*/
  .classselector{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }
  /*id selector*/
  #idselector{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
 
  /*universal selector*/
  *{
    border-radius: 5ch;
  }
  /*Pseudo-class Selector*/
  p:hover {
    color: rgb(4, 81, 102);
  }

  /*Selector List*/
  /*Selector list is correct!*/
  h3,h5,h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  /*Descendant Selector*/
  .Descendant p {
    color: #e90482;
    font-size: larger;

  }


/*Child Selector */
.Descendant > i {
  line-height: 1cm;
}
/*class selector*/

h3 ~ p{
  background-color: rgb(255, 72, 0);
}

h3+p{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*Combining Two Selectors (element.class)*/
h3.Descendant{
  color: black;
}

h5:has(+ p){
  color: rgb(200, 73, 34);

}

.classselector {
  &:last-child{
      background-color: #e90482;
  }

}




